<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>All Posts</h1>
    <%= render partial: 'authenticated', collection: @posts, as: :post %>
       <%= link_to 'Go back',posts_path %>
  </div>
</div>
